body {
    background-color: #222222;
}

#main-container {
    background-color: #2B2522;
    width: 1410px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 100%;
    background-color: #150C06;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#page-title{
    font-size: 48px;
    color: pink;
    letter-spacing: 3px;
}

div.header > p {
    padding: 20px;
}

.content-div {
    width: 1300px;
    min-height: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.nav-bar {
    color: white;
    background: #193214;
    margin: 5px;
}

.nav-bar a {
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
}

.nav-item {
    float: left;
    width: 200px;
    min-height: 50px;
    padding: 20px;
    border-right: 3px dotted #cccc11;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
}

.nav-item:hover {
    background: #082103;
    cursor: pointer;
}

.CONVERT {
    color: blue;
    font-size: 16px;
}

.AQUILA {
    color: red;
    font-size: 16px;
}

.WERNER {
    color: purple;
    font-size: 16px;
}

table {
  border-collapse: collapse;
}

.zamowienie table, th, td {
  border: 1px solid white;
}

.zamowienie td {
    padding: 1px;
}

table.zamowienie, .zamowienie th{
    background: #111111;
    text-align: center;
    border: 5px solid white;
}

.zamowienie th {
    color: white;
    border: 3px solid white;
}

.zamowienie-row {
    background: #CCCCCC;
}

.zamowienie-row:hover {
    background: #eeeeee;
}

.zamowienie .quantity {
    color: darkgreen;
}

.blackrow {
    background: black;
}

.navigation {
    background: black;
    color: white;
}

.navigation a:link, a:visited{
    color: grey;
}

.test {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.order-details a{
    color: orange;
}

.start-page {
    align-content: center;
    text-align: center;
}

.div3 {
    width: 30%;
    display: inline-block;
}

form {
  border: 3px solid black;
}

input {
    width: 30%;
    padding: 8px 12px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 2px solid orange;
    border-radius: 4px;
}

input:focus {
    background-color: orange;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: orange;
  border: 2px solid orange;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-style {
  background-color: orange;
  border: 2px solid orange;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.hello-user {
    border: 2px solid orange;
}



.header img {
    border: 2px solid #193214;
}

.header a:link {
    text-decoration: none;
}

.header a:visited {
    color: #ff8400;
    text-decoration: none;
}

.header a:hover {
    color: pink;
    text-decoration: none;
}

.management-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;;
    align-items: center;
    background-color: grey;
}

.management-button {
    width: 50px;
    height: 50px;
    border: 2px solid orange;
    text-align: center;
    flex-basis: 33%;
}

.management-menu button {
    font-size: 20px;
    color: white;
    background-color: black
}

.orders-notebook {
    display: inline-block;
    padding: 1%;
}

.navigation-div {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 600px;
    color: white;
    background-color: black;
    border: 2px solid orange;
}

.all-providers-container {
    display: inline-block;
}

.order-items {
    display: inline-block;
    vertical-align: top;
}

.all-orders {
    display: inline-block;
}

.converter-div {
    display: inline-block;
}

.dimension-container input, select{
    width: 40%;
    padding: 8px 12px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 2px solid pink;
    border-radius: 4px;
}

#cardboard-format {
    display: inline;
    color: red;
    font-size: 40px;
}

.result-converter h2{
    display: inline;
}

.all-deliveries-container {
    display: inline-block;
}

.all-deliveries-list {
    background: orange;
    font-weight: bold;
}

.delivery-row:hover {
    background: #5A900A;
    cursor: pointer;
}

.absence-list {
    background: white;
}

.absence-list table, th, td {
    border: solid 1px black;
}

.absence-list th {
    font-weight: bold;
    font-size: 18px;
    background: orange;
    border-bottom: 5px solid grey;
}

.absence-button {
	background-color:#fca919;
	border-radius:11px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:23px;
	font-weight:bold;
	padding:18px 47px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.absence-button:hover {
	background-color:#f7de3b;
}
.absence-button:active {
	position:relative;
	top:1px;
}

#absenceAddContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;;
    align-items: center;
}

.absenceAddElement {
    text-align: center;
    flex-basis: 49%;
}

.monthNavButton {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.monthNavButton:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.monthNavButton:active {
	position:relative;
	top:1px;
}

#punch-filters-button {
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background-color:#fe1a00;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
	margin-top: 15px;
}

#punch-filters-button:hover {
	background:linear-gradient(to bottom, blue 5%, white 100%);
	background-color: black;
	box-shadow:inset 0px 1px 0px 0px black;
	border:1px solid black;
}
#punch-filters-button:active {
	position:relative;
	top:1px;
}

.punch-filters {
    border: 2px solid black;
    display: none;
    flex-wrap: nowrap;
    justify-content: space-between;;
    align-items: center;
    background-color: #2C2C2C;
    padding: 20px;
}

.type-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 40%;
    justify-content: center;
    margin: 2px;
}

.dimension-filters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.other-filters {
    flex-basis: 20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.other-filters input {
    width: 65%;
}

.fefco-type {
    background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	margin: 5px;
}

.fefco-type-click {
    background:linear-gradient(to bottom, white 5%, #FF6F00 100%);
    background-color: #FF6F00;
    border: solid 2px red;

}

.dim-filter-btn {
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
	margin-left: auto;
    margin-right: auto;
	width: 50%;
}
.dim-filter-btn:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.dim-filter-btn:active {
	position:relative;
	top:1px;
}

.punch-form-container {
    display: flex;
    width: 100%;
}

.punch-form {
    margin: auto;
    background-color: #ffd59e;
    flex-basis: 50%;
    text-align: center;
    color: black;
}

.punch-form input {
    padding: 1px;
    background-color: white;
}

.punch-form label {
    font-size: 20px;
    font: bold;
}

.punch-form select {
    padding: 1px;
    background-color: lightgrey;
    border: 1px solid black;
}

.punch-form-btn {
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
	margin-top: 10px;
}



.punches-list{
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
}

.punches-list h1{
    margin-left: auto;
    margin-right: auto;
    color: #FFCEA8;
    text-align: center;
    font-size: 66px;
}

.punches-list table, .punch-details table{
    text-align: center;
    background-color: #FFDEAD;
    border: solid black 5px ;
    border-style: double;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

.punches-list table th, .punch-details table th {
    font-size: 18px;
    background-color: #FF7206;
    color: white;
    padding: 3px;
}

.punches-list table tr:nth-of-type(2n + 2){
    background-color: #f5b461;
}

.punch-row:hover {
    background: orange;
    cursor: pointer;
    color: #800000;
}

.punches-list table tr:nth-of-type(2n + 2):hover{
    background: orange;
    cursor: pointer;
}


.production-add-btn {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:42px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:10px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
	margin: 5px;
}
.production-add-btn:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}
.production-add-btn:active {
	position:relative;
	top:1px;
}

#add-orders input {
    background: orange;
    padding: 2px;
    margin: 1px;
}

.uc-orders {
    background:red;
    color: white;
    font-size: 40px;
    text-align: center;
}

#continue-with-uc {
    background-color: black;
	border-radius:10px;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:32px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
	margin: 5px;
}

.delete-punch {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, red 100%);
	background-color:#ffc477;
	border-radius:42px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:10px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
	margin: 5px;
}

.punch-form-container > a {
    color: green;
}

/* Orders management section */
.left-bar-manage {
    float: left;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
}

.left-bar-manage-item {
    background: #924F22;
    width: 76px;
    height: 55px;
    padding: 10px;
    border-bottom: 2px dotted yellow;
    text-align: center;

}

.page-content {
    float: left;
    width: 800px;
    padding: 20px;
}

.add-form-container {
    padding: 10px;
    margin: 10px;
}

.state-cell:hover {
    background: white;
    cursor: pointer;
}

.table-zamowienie-container {
    margin-left: auto;
    margin-right: auto;
}

.production-div {
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
}

.production-item {
    font-size: 10px;
    width: 62px;
    height: 62x;
    background: white;
    border: 2px solid darkgreen;
    padding: 5px;
    margin: 5px;
    overflow: hidden;
}

.workstations-container {
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
}

.workstation {
    width: 200px;
    height: 200px;
    background: grey;
    border: solid 5px white;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}