.Convert {
    color: blue;
    font-size: 20px;
}

.Aquila {
    color: red;
    font-size: 20px;
}

table {
  border-collapse: collapse;
}

.zamowienie table, th, td {
  border: 1px solid black;
}

.blackrow {
    background: black;
}

.navigation {
    background: black;
    color: white;
}

.navigation a:link, a:visited{
    color: grey;
}

.test {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.order-details a{
    color: orange;
}

.start-page {
    align-content: center;
    text-align: center;
}

.div3 {
    width: 30%;
    display: inline-block;
}

form {
  border: 3px solid black;
}

input {
    width: 30%;
    padding: 8px 12px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 2px solid orange;
    border-radius: 4px;
}

input:focus {
    background-color: orange;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: orange;
  border: 2px solid orange;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-style {
  background-color: orange;
  border: 2px solid orange;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.hello-user {
    border: 2px solid orange;
}

.header {
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header img {
    border: 2px solid orange;
}

.header a:link {
    text-decoration: none;
}

.header a:visited {
    color: #ff8400;
    text-decoration: none;
}

.header a:hover {
    color: pink;
    text-decoration: none;
}

.management-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;;
    align-items: center;
    background-color: grey;
}

.management-button {
    width: 50px;
    height: 50px;
    border: 2px solid orange;
    text-align: center;
    flex-basis: 33%;
}

.management-menu button {
    font-size: 20px;
    color: white;
    background-color: black
}

.orders-notebook {
    display: inline-block;
    padding: 1%;
}

.navigation-div {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 600px;
    color: white;
    background-color: black;
    border: 2px solid orange;
}

.all-providers-container {
    display: inline-block;
}

.order-items {
    display: inline-block;
    vertical-align: top;
}

.all-orders {
    display: inline-block;
}

.converter-div {
    display: inline-block;
}

#footer {
    background-color: grey;
    border: 2px solid orange;
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 2.5rem;            /* Footer height */
}

.dimension-container input, select{
    width: 40%;
    padding: 8px 12px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 2px solid pink;
    border-radius: 4px;
}

#cardboard-format {
    display: inline;
    color: red;
    font-size: 40px;
}

.result-converter h2{
    display: inline;
}

.all-deliveries-container {
    display: inline-block;
}

.absence-button {
	background-color:#fca919;
	border-radius:11px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:23px;
	font-weight:bold;
	padding:18px 47px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.absence-button:hover {
	background-color:#f7de3b;
}
.absence-button:active {
	position:relative;
	top:1px;
}

#absenceAddContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;;
    align-items: center;
}

.absenceAddElement {
    text-align: center;
    flex-basis: 49%;
}

.monthNavButton {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.monthNavButton:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.monthNavButton:active {
	position:relative;
	top:1px;
}

