arabic-reshaper
asgire
beautifulsoup4
boto3
botocore
bs4
cachetools
certifi
chardet
dj-database-url
Django
django-crispy-forms
django-heroku
django-storages
djangorestframework
future
google-auth
google-auth-oauthlib
gspread
gunicorn
html5lib
httplib2
idna
jmespath
lxml
oauth2client
oauthlib
Pillow
psycopg2
psycopg2-binary
pyasn1
pyasn1-modules
Pygments
pyparsing
PyPDF2
python-bidi
python-dateutil
python-docx
pytz
reportlab
requests
requests-oauthlib
rsa
s3transfer
six
soupsieve
sqlparse
urllib3
webencodings
whitenoise
xhtml2pdf
