.Convert {
    color: blue;
    font-size: 20px;
}

.Aquila {
    color: red;
    font-size: 20px;
}

table {
  border-collapse: collapse;
}

.zamowienie table, th, td {
  border: 1px solid black;
}

.blackrow {
    background: black;
}

.navigation {
    background: black;
    color: white;
}

.navigation a:link, a:visited{
    color: yellow;
}

.test {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.order-details a{
    color: orange;
}