{% extends '__base2__.html' %}

{% block title %}{{ day }} details{% endblock %}

{% block content %}

<h1 class="white">Day {{ date }} details</h1>

<div style="margin: 5px;">
<a href="{% url 'add-event' %}?day={{date}}">
    <button class='aEventBTN' value="Add Event">Add Event</button>
</a>
    </div>
<div style="margin: 5px;">
<a href="{% url 'deliveries-calendar' %}">
    <button class='navBTN' value="Calendar">Calendar</button>
</a>
    </div>

<style>
        table {
            width: 100%;
            border-collapse: collapse;
            text-align: center;
        }
        th, td {
            border: 1px solid #000;
            text-align: center;
            padding: 8px;
        }
        .col-1 {
            width: 3%;
        }
        .col-2 {
            width: 17%;
        }
        .col-3 {
            width: 50%;
        }
        .col-4 {
            width: 25%;
        }
        .col-5 {
            width: 5%;
        }
</style>

<div class="day-details">
    <table>
        <colgroup>
            <col class="col-1">
            <col class="col-2">
            <col class="col-3">
            <col class="col-4">
            <col class="col-5">
        </colgroup>
        <tr>
            <th>ID</th>
            <th>TYPE</th>
            <th>TITLE</th>
            <th>DETAILS</th>
            <th>REALIZED</th>
        </tr>
        {% for event in events %}
        <tr class="day-details-row" data-eventid="{{event.id}}">
            <td>{{ event.id }}</td>
            <td>{{ event.event_type }}</td>
            <td>{{ event.title }}</td>
            <td>{{ event.details }}</td>
            <td class='checkbox'>
                <input type="checkbox" class='checkbox' {% if event.event_type == 'ZREALIZOWANA DOSTAWA' %}checked{% endif %}>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block scripts %}
{% load static %}
<script src="{% static 'js/day-details.js' %}"></script>
{% endblock %}