{% extends '__base2__.html' %}

{% block title %}Order {{ order }} {% endblock %}

{% block navigation %}
{% endblock %}


{% block content %}
<div class="order-filters">
    <h2>Filtry</h2>
    <h3>Dostawca</h3>
        <select id="filter-by-provider">
        {% for provider in providers %}
            <option value="{{ provider.name }}">{{ provider.name }}</option>
        {% endfor %}
        </select>
    <h3>Data Zamówienia</h3>
    <h4 style="display: inline;">Od:</h4>
    <input type="date" style="display: inline;" id="from">
    <h4 style="display: inline;">Do:</h4>
    <input type="date" style="display: inline;" id="to">
</div>

<div>
<table class="zamowienie">

    <tr class="order-table-description">
        <th>Nr zamówienia</th>
        <th>Nr pozycji</th>
        <th>Typ</th>
        <th>Szerokość</th>
        <th>Długość</th>
        <th>Ilość zamówiona</th>
        <th>Ilość dostarczona</th>
        <th>Klient</th>
        <th>Rodzaj tektury</th>
        <th>Wymiar pudełka</th>
        <th>Bigi</th>

    </tr>

    {% for order in orders %}
    {% for o in order.orderitem_set.all %}
    <tr class="{{ order.provider }}">
        {% if forloop.first %}
        <td rowspan="{{ order.orderitem_set.all|length }}">{{ order.order_provider_number }}</td>
        {% endif %}
        <td>{{ o.item_number }}</td>
        <td>{{ o.sort }}</td>
        <td>{{ o.format_width }}</td>
        <td>{{ o.format_height }}</td>
        <td>{{ o.ordered_quantity }}</td>
        <td>{% for q in quantities %}{% if q.order_item == o %}{{ q.quantity }}{% endif %}{% endfor %}</td>
        <td>{% for b in o.buyer.all %}{{ b.name }}{% endfor %}</td>
        <td>{{ o.cardboard_type }}{{ o.cardboard_weight }}</td>
        <td>{{ o.dimension_one }}x{{ o.dimension_two }}{% if o.dimension_three %}x{{ o.dimension_three }}{% endif %}</td>
        <td>{{ o.scores }}</td>
    </tr>
    {% endfor %}
    <tr class="***">
        <td colspan="11" class="black_row"> *** </td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}