{% extends '__base2__.html' %}

{% block title %}Order {{ order }} {% endblock %}

{% block navigation %}
{% endblock %}


{% block content %}
<div class="container-90">
    <h1 class="white">Actions</h1>
    <a href="{% url 'new-order' %}"><button class="add-button-1">Add Order</button></a>
    <a href="{% url 'import-order-items' %}"><button class="add-button-1">Import Orders</button></a>
    <a href="{% url 'new-all-orders' %}?all-orders=+"><button class="add-button-1">All Orders</button></a>
</div>

<div class="order-filters">
    <h2 id="order-filters">Filtry</h2>
    <div>
        <form method="get" action="#">
            <p>
                <label>
                    Klient:
                    <select name="customer">
                        {% for c in all_customers %}
                        {% if c.name == customer %}
                        <option value="{{ c.name }}" selected>{{ c.name }}</option>
                        {% else %}
                        <option value="{{ c.name }}">{{ c.name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </label>
            </p>
            <input type="submit" value="Filtruj">
        </form>
    </div>
    <div id="order-filters-container" style="display: none">
        <h3 >Dostawca</h3>
            <select id="filter-by-provider">
            {% for provider in providers %}
                <option value="{{ provider.name }}">{{ provider.name }}</option>
            {% endfor %}
            </select>
        <h3>Data Zamówienia</h3>
        <h4 style="display: inline;">Od:</h4>
        <input type="date" style="display: inline;" id="from">
        <h4 style="display: inline;">Do:</h4>
        <input type="date" style="display: inline;" id="to">
    </div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}{% if provider %}&provider={{ provider }}{% endif %}">
                previous
            </a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if provider %}&provider={{ provider }}{% endif %}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}{% if provider %}&provider={{ provider }}{% endif %}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<form>

<div class="table-zamowienie-container">
    <table class="zamowienie order-filter-table">

        <tr class="order-table-description">
            <th>Nr zamówienia</th>
            <th>Data</th>
            <th>Nr pozycji</th>
            <th>Typ</th>
            <th>Szerokość</th>
            <th>Długość</th>
            <th>Ilość zamówiona</th>
            <th>Ilość dostarczona</th>
            <th>Klient</th>
            <th>Rodzaj tektury</th>
            <th>Wymiar pudełka</th>
            <th>Bigi</th>
            <th>Nazwa</th>
            <th>Całość</th>
            <th>Wyczyść</th>

        </tr>
        <tr id="order-filter-table">
            <td class="input-filter"><input type="number"></td>
            <td class="input-filter"><input></td>
            <td class="input-filter"><input type="number"></td>
            <td class="input-filter"><input></td>
            <td class="input-filter"><input type="number"></td>
            <td class="input-filter"><input type="number"></td>
            <td class="input-filter"><input type="number"></td>
            <td class="input-filter"><input type="number"></td>
            <td class="input-filter"><input></td>
            <td class="input-filter"><input></td>
            <td class="input-filter"><input></td>
            <td class="input-filter"><input></td>
            <td class="input-filter"><input></td>
            <td id="delivery-status">
                <label for="delivery-option-1" class="white">All:</label>
                <input type="radio" id="delivery-option-1" name="delivery-option" class="delivery-option">
                <label for="delivery-option-2" class="white">Not delivered:</label>
                <input type="radio" id="delivery-option-2" name="delivery-option" class="delivery-option">
                <label for="delivery-option-3" class="white">Delivered:</label>
                <input type="radio" id="delivery-option-3" name="delivery-option" class="delivery-option">

            </td>
            <td id="clear-all-filters"><span class="red">Clear</span></td>
        </tr>

    </table>
</div>
</form>

<div class="table-zamowienie-container">
    <table class="zamowienie">

        <tr class="order-table-description">
            <th>Nr zamówienia</th>
            <th>Data</th>
            <th>Nr pozycji</th>
            <th>Typ</th>
            <th>Szerokość</th>
            <th>Długość</th>
            <th>Ilość zamówiona</th>
            <th>Ilość dostarczona</th>
            <th>Klient</th>
            <th>Rodzaj tektury</th>
            <th>Wymiar pudełka</th>
            <th>Bigi</th>
            <th>Nazwa</th>
            <th>Całość</th>
            <th>Druk</th>

        </tr>

        {% for order in page_obj %}
        {% for o in order.orderitem_set.all %}
        {% if customer %}
            {% for b in o.buyer.all %}
                {% if b.name == customer %}
                    <tr class="{{ order.provider }} zamowienie-row" data-orderitemid="{{ o.id }}">
                        <td class="order-num">{{ order.order_provider_number }}</td>
                        <td>{{ order.date_of_order }}</td>

                        <td>{{ o.item_number }}</td>
                        <td>{{ o.sort }}</td>
                        <td>{{ o.format_width }}</td>
                        <td>{{ o.format_height }}</td>
                        <td>{{ o.ordered_quantity }}</td>
                        <td class="quantity">{% for q in quantities %}{% if q.order_item == o %}{{ q.quantity }}{% endif %}
                            {% endfor %}</td>
                        <td>{% for b in o.buyer.all %}{{ b.name }}{% endfor %}</td>
                        <td>{{ o.cardboard_type }}{{ o.cardboard_weight }}{{ o.cardboard_additional_info }}</td>
                        <td>{{ o.dimension_one }}x{{ o.dimension_two }}{% if o.dimension_three %}x{{ o.dimension_three }}{% endif %}</td>
                        <td class="scores">{{ o.scores }}</td>
                        <td class="name">{{ o.name }}</td>
                        <td class="state-cell">{% if o.is_completed %}<i class="demo-icon icon-toggle-on" style="color: green"></i>{% else %}<i class="demo-icon icon-toggle-off" style="color: red;"></i>{% endif %}</td>
                        <td class="print-icon" style="color: black;"><i class="demo-icon icon-print"></i></td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
        <tr class="{{ order.provider }} zamowienie-row" data-orderitemid="{{ o.id }}">
            <td class="order-num">{{ order.order_provider_number }}</td>
            <td>{{ order.date_of_order }}</td>

            <td>{{ o.item_number }}</td>
            <td>{{ o.sort }}</td>
            <td>{{ o.format_width }}</td>
            <td>{{ o.format_height }}</td>
            <td>{{ o.ordered_quantity }}</td>
            <td class="quantity">{% for q in quantities %}{% if q.order_item == o %}{{ q.quantity }}{% endif %}
                {% endfor %}</td>
            <td>{% for b in o.buyer.all %}{{ b.name }}{% endfor %}</td>
            <td>{{ o.cardboard_type }}{{ o.cardboard_weight }}{{ o.cardboard_additional_info }}</td>
            <td>{{ o.dimension_one }}x{{ o.dimension_two }}{% if o.dimension_three %}x{{ o.dimension_three }}{% endif %}</td>
            <td class="scores">{{ o.scores }}</td>
            <td class="name">{{ o.name }}</td>
            <td class="state-cell">{% if o.is_completed %}<i class="demo-icon icon-toggle-on" style="color: green"></i>{% else %}<i class="demo-icon icon-toggle-off" style="color: red;"></i>{% endif %}</td>
            <td class="print-icon" style="color: black;"><i class="demo-icon icon-print"></i></td>
        </tr>
        {% endif %}
        {% endfor %}
        <!--
        <tr class="***">
            <td colspan="15" class="black_row"> *** </td>
        </tr>
        -->
        {% endfor %}
    </table>

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}{% if provider %}&provider={{ provider }}{% endif %}">
                previous
            </a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if provider %}&provider={{ provider }}{% endif %}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}{% if provider %}&provider={{ provider }}{% endif %}">last &raquo;</a>
        {% endif %}
    </span>
</div>

</div>
{% endblock %}