{% extends '__base__.html' %}

{% block title %}
    Nowe zamówienie
{% endblock %}

{% block content %}

<form class="new-order">
    <div class="order-details">
        <label>
            Dostawca:
            <select name="provider" class="provider">
                {% for p in providers %}
                    <option value="{{ p.id }}">{{ p.name }}</option>
                {% endfor %}
            </select>
        </label>

        <label>
            Nr zamówienia:
            <input type="number" class="order-number" value="0" disabled>
        </label>

        <label>
            Data:
                <input type="date" class='order-date' name="order-date" value="">
        </label>

        <p>
            <button id="add-order">Dodaj zamówienia</button>
        </p>
    </div>
    <div class="all-orders", style="display:none">
        <h2>Szczegóły zamówienia: </h2>
        <h2 class="order-description" style="color:red; display:block;" ></h2>
    </div>
</form>

{% endblock %}