{% extends '__base2__.html' %}

{% block content %}

<div class="center">
<table class="white center">
    <tr>
        <th rowspan="2">
            Customer
        </th>
        <th colspan="{{ palettes|length }}">
            Palettes
        </th>
    </tr>
    <tr>
        {% for p in palettes %}
        <th>{{ p }}</th>
        {% endfor %}
    </tr>
    {% for p in palette_quantities %}
    <tr class="hover-grey-bg">
        {% for x in p %}
        {% if forloop.first %}
        <td class="customer-name cursor-pointer bold black hover-yellow" data-customer="{{ x.id }}">
            {{ x }}
        </td>
        {% else %}
        <td>
            {{ x }}
        </td>
        {% endif %}
        {% endfor %}

    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}