{% extends '__base2__.html' %}

{% block title %}
Prepare Many Spreadsheets
{% endblock %}

{% block navigation %}{% endblock %}

{% block content %}
<div style="display: inline-block">
    <form method="post">
        {% csrf_token %}
        <select name="order_items" multiple>
            {% for i in all_items %}
                <option value="{{ i.id }}">{{ i }}</option>
            {% endfor %}
        </select>
        <p><input type="submit"></p>
    </form>
    <form method="post" class="picking-form" id="many-sheets">
        {% csrf_token %}
        <div class="form-window">
            <h2>ITEMS:</h2>
            {% for o in all_orders %}
            <li>{{ o }}
                <ol>
                {% for i in all_items %}

                    {% if i.order == o %}<ul class="order-item">{{ i }}</ul>{% endif %}

                {% endfor %}
            </ol>
            </li>
            {% endfor %}
        </div>
        <div class="form-window">
            <h2>PICKED ITEMS:</h2>
            <ul>

            </ul>
        </div>

        <p><input type="submit"></p>
    </form>
</div>

{% endblock %}

{% block footer %}{% endblock %}