{% extends '__base2__.html' %}

{% block title %}
    Main Page | {{ user }}
{% endblock %}

{% block navigation %}{% endblock %}


{% block content %}

<div class="white">
    <p class="size15">
        There is <a href="{% url 'persons' %}" class="no-decor">
        <span class="red size20">{{ workers|length }}</span>
        </a> workers in the database!
    </p>
    <p class="size15">
        There is <a href="{% url 'punches' %}" class="no-decor"><span class="red size20">{{ punches|length }}</span></a> punches in the database!
    </p>
    <p class="size15">
        There is <a href="{% url 'photopolymers' %}" class="no-decor"><span class="red size20">{{ polymers|length }}</span></a> photopolymers in the database!
    </p>
    <p class="size15">
        There is <a href="{% url 'absence-list' %}" class="no-decor"><span class="red size20">{{ absences|length }}</span></a> absences in the database!
    </p>
    <p class="size15">
        There is <a href="{% url 'colors' %}" class="no-decor"><span class="red size20">{{ colors|length }}</span></a> colors in the database!
    </p>

</div>

{% endblock %}