{% extends '__base2__.html' %}

{% block navigation %}{% endblock %}

{% block content %}
<br />

<a href="{% url 'add-absence' %}"><button class="absence-button">Add Absence</button></a>

<br />
<br />

<a href="{% url 'absence-list' %}?month={{ prev_month }}"><button class="monthNavButton" id="nextBtn">PREV</button></a>
{% if not end_list_condition %}
<a href="{% url 'absence-list' %}?month={{ next_month }}"><button class="monthNavButton" id="prevBtn">NEXT</button></a>
{% else %}
<a href="{% url 'absence-list' %}?month={{ next_month }}"><button disabled class="monthNavButton" id="prevBtn">NEXT</button></a>
{% endif %}

<br />
<select id="monthSelect">
    {% for zz in z %}
    {% if zz == aa %}
        <option value="{{ zz }}" selected>{{ zz }}</option>
    {% else %}
        <option value="{{ zz }}">{{ zz }}</option>
    {% endif %}
{% endfor %}
</select>
<table class="absence-list">

    <th>DAY</th>
    {% for w in workers %}
        <th>{{ w }}</th>
    {% endfor %}

    {% for d, d1 in month_days %}
        <tr>
            {% if d1 >= 5 %}
                <td style="background-color: pink">{{ d }}</td>
                {% for w in workers %}
                    <td class="day{{ d }} worker{{ w.id }}" style="background-color: orange"></td>
                {% endfor %}
            {% else %}
                <td style="background-color: orange">{{ d }}
                {% for w in workers %}
                    {% if day_num >= d %}
                        <td class="day{{ d }} worker{{ w.id }}" style="background-color: green"></td>
                    {% else %}
                        <td class="day{{ d }} worker{{ w.id }}"></td>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </tr>
    {% endfor %}

</table>

{{ absence_objects }}

<h2 style="color: white;">LEGENDA</h2>
<table class="absence-description" style="background: white;">
    <tr>
        <td style="color: white; background: pink;"></td>
        <td>Święto</td>
    </tr>
    <tr>
        <td style="color: white; background: orange;"></td>
        <td>Weekend</td>
    </tr>
    <tr>
        <td style="color: white; background: green;"></td>
        <td>Obecność</td>
    </tr>
    <tr>
        <td style="color: black; background: #59E817;">3.0</td>
        <td>Nadgodziny</td>
    </tr>
    <tr>
        <td style="color: white; background: #806517;">5.5</td>
        <td>Niepełny dzień pracy</td>
    </tr>
    <tr>
        <td style="color: black; background: yellow;">0:30</td>
        <td>Spóżnienie</td>
    </tr>
    <tr>
        <td style="color: white; background: red;">NN</td>
        <td>Nieobecność nieusprawiedliwiona</td>
    </tr>
    <tr>
        <td style="color: white; background: red;">UW</td>
        <td>Urlop wypoczynkowy</td>
    </tr>
    <tr>
        <td style="color: white; background: red;">UB</td>
        <td>Urlop bezpłatny</td>
    </tr>
    <tr>
        <td style="color: white; background: red;">UO</td>
        <td>Urlop okolicznościowy</td>
    </tr>
    <tr>
        <td style="color: white; background: red;">CH</td>
        <td>Choroba</td>
    </tr>
    <tr>
        <td style="color: white; background: red;">KW</td>
        <td>Kwarantanna</td>
    </tr>
</table>

{% endblock %}

{% block footer %}{% endblock %}