{% extends '__base2__.html' %}

{% block content %}

<div class="container-90 border-solid-2">
    <span class="white size15">Provider: </span><br />
    <span class="red size20">{{ provider_object }}</span>
    <p class="margin-10-auto">
        <span class="white size15">Between dates:</span><br />
        <span class="red size20">{{ date_from_text }} -:- {{ date_to_text }}</span>
    </p>
    <span class="white size15">Quantity:</span>
    <table class="center">
        <tr>
            <th class="bg-orange">Status</th>
            {% for p in palettes %}
            <th class="bg-orange">{{ p }}</th>
            {% endfor %}
        </tr>
        <tr>
            <td class="bg-orange">Delivered</td>
            {% for p in current_quantity_table_data.0 %}
            <td class="bg-white">{{ p }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td class="bg-orange">Returned</td>
            {% for p in current_quantity_table_data.1 %}
            <td class="bg-white">{{ p }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td class="bg-orange">Summary</td>
            {% for p in current_quantity_table_data.2 %}
            {% if p > 0 %}
            <td class="bg-white size20 red">{{ p }}</td>
            {% else %}
            <td class="bg-white size20 green">{{ p }}</td>
            {% endif %}
            {% endfor %}
        </tr>
    </table>
    <span class="white size15 dropdown-title" id="palette-deliveries-title">Deliveries({{ deliveries_query|length }}):</span>
    <table class="center" id="palette-deliveries" style="display: none">
        <tr>
            <th rowspan="2" class="bg-orange">Date</th>
            <th colspan="{{ palettes|length }}" class="bg-orange">Delivered</th>
            <th colspan="{{ palettes|length }}" class="bg-orange">Returned</th>
        </tr>
        <tr>
            {% for p in palettes %}
            <td class="bg-orange">{{ p }}</td>
            {% endfor %}
            {% for p in palettes %}
            <td class="bg-orange">{{ p }}</td>
            {% endfor %}
        </tr>
        {% for d in all_deliveries %}
        <tr>
            {% for dd in d %}
            {% if forloop.first %}
            <td class="bg-orange delivery-link cursor-pointer" data-delivery_id="{{ dd.1 }}">{{ dd.0 }}</td>
            {% else %}
                {% if dd != '-' %}
                    <td class="bg-yellow">{{ dd }}</td>
                {% else %}
                    <td class="bg-white">{{ dd }}</td>
                {% endif %}
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

<div class="container-90">
    <form action="" method="get">
        <p>
        <label>
            Provider:
            <select name="provider">
                {% for p in providers %}
                    <option value="{{ p.shortcut }}" {% if p.shortcut == provider %}selected{%endif%}>{{ p }}</option>
                {% endfor %}
            </select>
        </label>
        </p>
        <p>
            <label>
                From date:
                <input type="date" name="date-from" value="{{date_from}}">
            </label>
        </p>
        <p>
            <label>
                To date:
                <input type="date" name="date-to" value="{{date_to}}">
            </label>
        </p>
        <p>
        <input type="submit" value="Filter">
        </p>
    </form>
</div>



{% endblock %}