{% extends '__base2__.html' %}

{% block title %}
New Order
{% endblock %}

{% block content %}
<div style="display: inline-block">
    <form class="new-order" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add">
    </form>
    <div>

        Time: {{ now }}

    </div>
</div>

<!--
{% if messages %}
    {% for message in messages %}
    {% if message.tags %} <script>alert("{{ message }}")</script>{% endif %}
    {% endfor %}
{% endif %}
-->
{% endblock %}

{% block footer %}{% endblock %}