{% extends '__base__.html' %}

{% block title %}Order {{ order }} {% endblock %}

{% block navigation %}
{% endblock %}


{% block content %}
<table class="zamowienie">
    Dostawca: {{ order.provider }}
    Nr zamówienia: {{ order.order_provider_number }}
    Data złożenia zamówienia: {{ order.date_of_order }}

    <tr>
        <th>Nr pozycji</th>
        <th>Typ</th>
        <th>Szerokość</th>
        <th>Długość</th>
        <th>Ilość zamówiona</th>
        <th>Klient</th>
        <th>Rodzaj tektury</th>
        <th>Wymiar pudełka</th>
        <th>Bigi</th>

    </tr>

    {% for o in ordered_items %}
    <tr>
        <td>{{ o.item_number }}</td>
        <td>{{ o.sort }}</td>
        <td>{{ o.format_width }}</td>
        <td>{{ o.format_height }}</td>
        <td>{{ o.ordered_quantity }}</td>
        <td>{% for b in o.buyer.all %}{{ b.name }}{% endfor %}</td>
        <td>{{ o.cardboard_type }}{{ o.cardboard_weight }}</td>
        <td>{{ o.dimension_one }}x{{ o.dimension_two }}{% if o.dimension_three %}x{{ o.dimension_three }}{% endif %}</td>
        <td>{{ o.scores }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}