{% extends '__base2__.html' %}

{% block content %}

<div>
    <a href="{% url 'palette-quantities' %}">
        <button>Palettes Quantities</button>
    </a>
</div>

<div class='all-deliveries-container'>

    <h1>Deliveries:</h1>

    <div>
        <a href="{% url 'delivery-add' %}">
            <button>
                Dodaj
            </button>
        </a>
    </div>

    <table class="all-deliveries-list">

        <tr>
            <th>Data</th>
            <th>Dostawca</th>
            <th>Ilość pozycji</th>

        </tr>
        {% for d in all_deliveries %}
        <tr data-delivery="{{ d.id }}" class="delivery-row">
            <td>{{ d.date_of_delivery }}</td>
            <td>{{ d.provider }}</td>
            <td>{{ d.orderitemquantity_set.all|length }}</td>

        </tr>
        {% endfor %}

    </table>

</div>

{% endblock %}