{% extends '__base2__.html' %}

{% block navigation %}{% endblock %}

{% block content %}

<div>
    {% for n in all_notes %}
        <div>
            <h2 style="display: inline-block">{{ n.title }}</h2> <h3 style="display: inline-block">{{ n.genre }}</h3>
            <h4 style="display: inline-block">{{ n.add_date }}></h4>
            <p style="font-size: 12px">
                {{ n.content }}
            </p>
        </div>
    {% empty %}
    <p>No notes</p>
    {% endfor %}
</div>

{% endblock %}