{% extends '__base2__.html' %}

{% block navigation %}{% endblock %}

{% block content %}
<div class="punches-list">

    <h1>WYKROJNIKI</h1>

    <div>
    <a href="{% url 'punch-add' %}"><button class="punch-form-btn">Add Punch</button></a>
        </div>
<div>
    <button id="punch-filters-button">Filtry</button></div>
    <br />
    <div id="punch-filters" class="punch-filters">
        <br />
        <div class="type-buttons">
            <div>
               <button class='fefco-type fefco-type-click' value="all" id="all-punches-filter-btn">All</button>
            </div>

            {% for pt in punch_types %}

                <div>
                    <button class='fefco-type' value="{{ pt.0 }}">{{ pt.1 }}</button>
                </div>
            {% endfor %}
        </div>
        <div class="dimension-filters">
            <label>Dimension #1
                <input type="number" id="dim1">
            </label>
            <label>Dimension #2
                <input type="number" id="dim2">
            </label>
            <label>Dimension #3
                <input type="number" id="dim3">
            </label>
            <button id="dim-filter-btn" class="dim-filter-btn">Filtruj</button>
        </div>
        <div class="other-filters">
            <label>Nazwa
                <input type="text" id="name-filter">
            </label>

        </div>
        <br />
    </div>

    <br />

    <table class="punches-list-table">
        <tr>
            <th>TYP</th>
            <th>IDENTYFIKATOR</th>
            <th>SZEROKOŚĆ</th>
            <th>DŁUGOŚĆ</th>
            <th>WYSOKOŚĆ</th>
            <th>NAZWA</th>
            <th>FALA</th>
            <th>FORMAT</th>
        </tr>
        {% for p in punches %}
        <tr id="row{{ p.id }}" class="punch-row" data-punch_id="{{ p.id }}">
            <td class="punch-type">{{ p.type }}</td>
            <td>{{ p.punch_name }}</td>
            <td class="dim1">{{ p.dimension_one }}</td>
            <td class="dim2">{{ p.dimension_two }}</td>
            <td class="dim3">{% if p.dimension_three %}{{ p.dimension_three }}{% else %}-{% endif %}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.cardboard }}</td>
            {% if p.wave_direction %}
                <td>{{ p.size_one }}x{{ p.size_two }}</td>
            {% else %}
                <td>{{ p.size_two }}x{{ p.size_one }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

</div>


{% endblock %}

{% block footer %} {% endblock %}