{% extends '__base2__.html' %}

{% block navigation %}{% endblock %}

{% block content %}
<br />

<a href="{% url 'add-absence' %}"><button class="absence-button">Add Absence</button></a>

<br />

<a href="{% url 'absence-list' %}?month={{ prev_month }}"><button class="absence-button">PREV</button></a>
<a href="{% url 'absence-list' %}?month={{ next_month }}"><button class="absence-button">NEXT</button></a>

<br />

<select id="monthSelect">
    {% for zz in z %}
    {% if zz == aa %}
        <option value="{{ zz }}" selected>{{ zz }}</option>
    {% else %}
        <option value="{{ zz }}">{{ zz }}</option>
    {% endif %}
{% endfor %}
</select>
<table class="absence-list">

    <th>DAY</th>
    {% for w in workers %}
        <th>{{ w }}</th>
    {% endfor %}

    {% for d, d1 in month_days %}
        <tr>
            {% if d1 >= 5 %}
                <td style="background-color: pink">{{ d }}</td>
                {% for w in workers %}
                    <td class="day{{ d }} worker{{ w.id }}" style="background-color: orange"></td>
                {% endfor %}
            {% else %}
                <td style="background-color: orange">{{ d }}
                {% for w in workers %}
                    {% if day_num >= d %}
                        <td class="day{{ d }} worker{{ w.id }}" style="background-color: green"></td>
                    {% else %}
                        <td class="day{{ d }} worker{{ w.id }}"></td>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </tr>
    {% endfor %}

</table>

{{ absence_objects }}

{% endblock %}

{% block footer %}{% endblock %}