{% extends '__base2__.html' %}

{% block navigation %}{% endblock %}

{% block content %}
<h1 style="color: #6B8E23;">{{ polymer }}</h1>
<div>
    <p>
        PRODUCENT: <span style="color: yellow">{{ polymer.producer }}</span>
    </p>
    <p>
        NUMER: <span style="color: yellow">{{ polymer.identification_number }}</span>
    </p>
    <p>
        KLIENT: <span style="color: yellow">{{ polymer.customer }}</span>
    </p>
    <p>
        NAZWA: <span style="color: yellow">{{ polymer.name }}</span>
    </p>
    <p>
        DATA DOSTARCZENIA: <span style="color: yellow">{{ polymer.delivery_date }}</span>
    </p>
    <p>
        STATUS:
        {% if polymer.presence %}
            <span style="color: green">NA MIEJSCU</span>
        {% else %}
            {% if not polymer.delivery_date %}
                <span style="color: red">NIE DOSTARCZONO</span>
            {% else %}
                <span style="color: red">WYSŁANA</span>
            {% endif %}
        {% endif %}
    </p>

    {% if polymer.project %}
        {{ polymer.project }}
    {% endif %}

    <h3>Farby:</h3>
    <div class="color-container">



        {% for c in colors %}
        <div class="color-item" data-colorid="{{ c.id }}" style="margin-left: auto; margin-right: auto;">
            <p style="background-color: rgb({{c.red}}, {{c.green}}, {{c.blue}}); font-size: 30px;">{{ c.number }}</p>
            {% if c.color_status > 5 %}
                <p style="color: orange; font-size: 30px;">{{ c.color_status }}</p>
            {% else %}
                <p style="color: red; font-size: 30px;">{{ c.color_status }}</p>
            {% endif %}
            <p style="color: white">{{ c.name }}({{ c.number }})</p>
        </div>
        {% endfor %}
    </div>
</div>

{% if services|length > 0 %}

<div>
    <h1 style="color: #6B8E23;"> HISTORIA WYSYŁEK </h1>
    <table class="polymers">
        <thead>
            <tr>
                <td>POLIMER</td>
                <td>KURIER</td>
                <td>DATA WYSŁANIA</td>
                <td>DATA ZWROTU</td>
                <td>OPIS</td>
            </tr>
        </thead>
        <tbody>
            {% for s in services %}
                <tr>
                    <td>{{ s.photopolymer }}</td>
                    <td>{{ s.company }}</td>
                    <td>{{ s.send_date }}</td>
                    <td>{{ s.return_date }}</td>
                    <td>{{ s.service_description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}

{% endblock %}

{% block footer %} {% endblock %}