{% extends '__base2__.html' %}

{% block title %}
    Manage | {{ user }}
{% endblock %}


{% block content %}

<div class="management-menu">
    <div class="management-button"><a href="{% url 'all-orders-details' %}"><button>All Orders</button></a></div>
    <div class="management-button"><a href=""><button>Add Order</button></a></div>
    <div class="management-button"><a href=""><button>Manage Uncompleted Orders</button></a></div>
    <div class="management-button"><a href=""><button>Manage Buyers</button></a></div>
    <div class="management-button"><a href=""><button>Add Buyer</button></a></div>
    <div class="management-button"><a href=""><button>Add Persons</button></a></div>
    <div class="management-button"><a href=""><button>Manage Providers</button></a></div>
    <div class="management-button"><a href=""><button>Add Provider</button></a></div>
    <div class="management-button"><a href=""><button>Manage Price Lists</button></a></div>
</div>

{% endblock %}