{% extends '__base__.html' %}

{% block title %}Order {{ order }} {% endblock %}

{% block content %}
<table class="zamowienie">

    <tr>
        <th>Nr zamówienia</th>
        <th>Nr pozycji</th>
        <th>Typ</th>
        <th>Szerokość</th>
        <th>Długość</th>
        <th>Ilość zamówiona</th>
        <th>Klient</th>
        <th>Rodzaj tektury</th>
        <th>Wymiar pudełka</th>
        <th>Bigi</th>

    </tr>

    {% for order in orders %}
    {% for o in order.orderitem_set.all %}
    <tr class="{{ order.provider }}">
        {% if forloop.first %}
        <td rowspan="{{ order.orderitem_set.all|length }}">{{ order.order_provider_number }}</td>
        {% endif %}
        <td>{{ o.item_number }}</td>
        <td>{{ o.sort }}</td>
        <td>{{ o.format_width }}</td>
        <td>{{ o.format_height }}</td>
        <td>{{ o.ordered_quantity }}</td>
        <td>{% for b in o.buyer.all %}{{ b.name }}{% endfor %}</td>
        <td>{{ o.cardboard_type }}{{ o.cardboard_weight }}</td>
        <td>{{ o.dimension_one }}x{{ o.dimension_two }}{% if o.dimension_three %}x{{ o.dimension_three }}{% endif %}</td>
        <td>{{ o.scores }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="10" class="black_row"> *** </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}