{% extends '__base2__.html' %}

{% block content %}

<div class="center">
<table class="white">
    <tr>
        <th rowspan="2">
            Customer
        </th>
        <th colspan="{{ palettes|length }}">
            Palettes
        </th>
    </tr>
    <tr>
        {% for p in palettes %}
        <th>{{ p }}</th>
        {% endfor %}
    </tr>
    {% for p in palette_quantities %}
    <tr>
        {% for x in p %}
        <td>
            {{ x }}
        </td>
        {% endfor %}

    </tr>
    {% endfor %}
</table>
</div>
<div>
    {% for c in customers %}
    <a href="{% url 'palette-customer-detail' customer_id=c.id %}">
    <p>{{ c }}</p>
        </a>
    {% endfor %}
</div>
{% endblock %}