{% extends '__base2__.html' %}

{% block navigation %}{% endblock %}

{% block content %}
<h1 style="color: #6B8E23;">{{ polymer }}</h1>
<div>
    <p>
        PRODUCENT: <span style="color: yellow">{{ polymer.producer }}</span>
    </p>
    <p>
        NUMER: <span style="color: yellow">{{ polymer.identification_number }}</span>
    </p>
    <p>
        KLIENT: <span style="color: yellow">{{ polymer.customer }}</span>
    </p>
    <p>
        NAZWA: <span style="color: yellow">{{ polymer.name }}</span>
    </p>
    <p>
        DATA DOSTARCZENIA: <span style="color: yellow">{{ polymer.delivery_date }}</span>
    </p>
    <p>
        STATUS:
        {% if polymer.presence %}
            <span style="color: green">NA MIEJSCU</span>
        {% else %}
            {% if not polymer.delivery_date %}
                <span style="color: red">NIE DOSTARCZONO</span>
            {% else %}
                <span style="color: red">WYSŁANA</span>
            {% endif %}
        {% endif %}
    </p>
</div>

{% if services|length > 0 %}

<div>
    <h1 style="color: #6B8E23;"> HISTORIA WYSYŁEK </h1>
    <table class="polymers">
        <thead>
            <tr>
                <td>POLIMER</td>
                <td>KURIER</td>
                <td>DATA WYSŁANIA</td>
                <td>DATA ZWROTU</td>
                <td>OPIS</td>
            </tr>
        </thead>
        <tbody>
            {% for s in services %}
                <tr>
                    <td>{{ s.photopolymer }}</td>
                    <td>{{ s.company }}</td>
                    <td>{{ s.send_date }}</td>
                    <td>{{ s.return_date }}</td>
                    <td>{{ s.service_description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}

{% endblock %}

{% block footer %} {% endblock %}