{% extends '__base2__.html' %}

{% block navigation %}{% endblock %}

{% block content %}

<h1 class="page-header">{{ color }}</h1>

<div class="color-item" data-colorid="{{ c.id }}" style="margin-left: auto; margin-right: auto;">
        <p style="background-color: rgb({{c.red}}, {{c.green}}, {{c.blue}}); font-size: 30px;">{{ c.number }}</p>
        {% if c.color_status > 5 %}
            <p style="color: orange; font-size: 30px;">{{ c.color_status }}</p>
        {% else %}
            <p style="color: red; font-size: 30px;">{{ c.color_status }}</p>
        {% endif %}
        <p style="color: white">{{ c.name }}({{ c.number }})</p>
</div>

<div>
    <h2>Polymers with this color:</h2>
    {% for p in polymers %}
    <a href="{% url 'polymer-details' polymer_id=p.id %}">
    <p class="p-list">
     {{ p }}
        </p>
        </a>
    {% endfor %}
</div>


{% endblock %}

{% block footer %} {% endblock %}