{% extends '__base2__.html' %}

{% block navigation %}{% endblock %}

{% block content %}

<div style="display: inline-block" class="punch-form-container">


    <form method="post" class="punch-form">

        {% csrf_token %}
        {{ punch_form.as_p }}
        {% if edit %}
        <input type="submit" value="Edit" class="punch-form-btn">
    </form>
    <a href="{% url 'punch-delete' punch_id=p.id %}">
        <button class="delete-punch" id="delete-punch">DELETE</button>
    </a>


    {% else %}
    <input type="submit" value="Add" class="punch-form-btn">

    </form>
    {% endif %}

</div>

{% endblock %}

{% block footer %}{% endblock %}