{% extends '__base2__.html' %}

{% block content %}

<table>
    <tr>
        <td>Pracownik</td>
        <td>Limit roczny</td>
        <td>Zaległy urlop z roku {{ previous_year }}</td>
        <td>Wykorzystano w {{ year }} roku</td>
        <td>Pozostało do wykorzystania</td>
    </tr>
    {% for p in persons_data %}
    <tr>
        <td>{{ p.0 }}</td>
        <td>{{ p.1 }}</td>
        <td>{{ p.2 }}</td>
        <td>{{ p.3 }}</td>
        <td>{{ p.4 }}</td>
    </tr>
    {% endfor %}
</table>

{% for p in persons_data %}
<a href="{% url 'persons-vacations' person_id=p.0.id %}">{{ p }}</a>
{% endfor %}

{% endblock %}