{% extends '__base2__.html' %}

{% block title %}CLOTHES{% endblock %}

{% block navigation %}{% endblock %}

{% block content %}
<div class="flex-container" style="padding: 20px;">
<div style="width: 100%; float: left;" class="bg-white">
    <select id="select-option">
        <option>
            ALL
        </option>
        <option>
            CLOTHES
        </option>
        <option>
            WORKERS
        </option>
    </select>
    <p class="active-workers" style="display: none;">
        Only Active Workers <input type="checkbox" id="active-workers" style=" margin: auto;">
    </p>

    {% for c in clothes %}
    <div style="padding: 20px; display: none;" class="cloth" data-cloth="{{ c.name }}">
        {{ c }}
    </div>
    {% endfor %}
    {% for w in workers %}
    <div style="padding: 20px; display: none" class="worker" data-worker="{{ w.id }}"
         {% if not w.job_end %}data-status="active"{% else %}data-status="inactive"{% endif %}>
        {{ w }}
    </div>
    {% endfor %}
</div>

<div style="width: 100%; float: right;" class="bg-yellow">
    {% for w in workwear %}
    <div style="padding: 5px;" data-cloth="{{ w.cloth }}" data-worker="{{ w.worker.id }}" data-workerStatus="{{ w.worker.status }}" class="person-cloth">
        {{ w }}
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
{% load static %}
<script src="{% static 'js/clothes.js' %}"></script>
{% endblock %}