{% extends '__base2__.html' %}

{% block title %}CLOTHES{% endblock %}

{% block navigation %}{% endblock %}

{% block content %}
<h1 class="center">STATS</h1>
<canvas id="myChart" width="400" height="155"></canvas>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
{% load static %}
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for w in workers_data%}'{{ w.0 }}', {% endfor %}],
            datasets: [{
                label: 'Days at work',
                data: [{% for w in workers_data %}{{ w.1 }}, {% endfor %}],
                backgroundColor: [
                    {% for w in workers_data %}
                    'rgba({{w.2.0}}, {{w.2.1}}, {{w.2.2}}, 0.2)',
                    {% endfor %}
                ],
                borderColor: [
                    {% for w in workers_data %}
                    'rgba({{w.2.0}}, {{w.2.1}}, {{w.2.2}}, 1)',
                    {% endfor %}
                ],
                borderWidth: 3
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
{% endblock %}