<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Wydruk{% endblock %}</title>

    <style>
        body{
            margin:0;
            font-family:Arial,sans-serif;
            background:white;
        }

        @page{
            size:A4 landscape;
            margin:6mm;
        }

        @media print{
            body{
                margin:0;
            }
        }

        {% block style %}{% endblock %}
    </style>
</head>

<body>

{% block content %}{% endblock %}

</body>
</html>