{% extends "__base3__.html" %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/order_list.css' %}">
{% endblock %}
{% block content %}
  <div class="import-container">
    <h1>Import Data from Sheet</h1>
    {% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
    <form method="post">
      {% csrf_token %}
      {{ orders_form.as_p }}
      <button type="submit">Dodaj zlecenie</button>
    </form>
  </div>
{% endblock %}
{% block scripts %}
{% load static %}
{% endblock %}
