{% extends "__base3__.html" %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/order_list.css' %}">
<link rel="stylesheet" href="{% static 'css/warehouse/order-settle-order.css' %}">
{% endblock %}
{% block content %}
  <h1>
    Delivery # {{ delivery.number }} {{ delivery }}
    {% if delivery.processed %}
      <span class="processed-label">PROCESSED</span>
    {% else %}
      <form action="{% url 'warehouse:process-delivery' delivery_id=delivery.id %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="process-button">Mark as Processed</button>
      </form>
    {% endif %}
    {% if delivery.updated %}
      <span class="processed-label">UPDATED</span>
    {% else %}
      <a href="{% url 'warehouse:load-delivery-togsf-view' delivery_id=delivery.id %}" id="update-link">
          <button type="button" class="process-button" id="update-button">Update</button>
      </a>
    {% endif %}
    <a href="{% url 'warehouse:delivery-edit' delivery_id=delivery.id %}" id="edit-link">
          <button type="button" class="process-button" id="edit-button">Edit</button>
    </a>
  </h1>

  <table>
    <thead>
      <tr>
        <th>Delivery date</th>
        <th>Order</th>
        <th>Product</th>
        <th>Customer</th>
        <th>Dimensions</th>
        <th>Quantity</th>
        <th>Palettes quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr {% if item.check_settlement %}style="font-weight: bold; font-style: italic; color: #6f7e96" {% endif %}>
        <td>{{ delivery.date|date:"Y-m-d" }}</td>
        <td><a href="{% url 'warehouse:order-detail-view' order_id=item.order.id %}">{{ item.order }}</a></td>
        <td>{{ item.order.product }}</td>
        <td>{{ item.order.customer }}</td>
        <td>{{ item.order.dimensions }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.palettes_quantity }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="10">No deliveries available.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<button id="addDeliveryItemBtn">Add Item</button>

  <!-- Pagination Controls -->
  <div class="pagination">
    {% if is_paginated %}
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    {% endif %}
  </div>

<div id="addDeliveryItemModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Add item to: {{ delivery }}</h2>
    <form id="addDeliveryItemForm" method="post" action="{% url 'warehouse:add-delivery-item' %}">
      {% csrf_token %}
      <div class="modal-column">
        {{ form.as_p }}
      </div>
      <br>
      <button type="submit" id="submit-btn">Submit</button>
    </form>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/warehouse/delivery-add-item.js' %}"></script>
<script>
  document.getElementById("update-button").addEventListener("click", function (event) {
    this.disabled = true;
    this.innerText = "Processing...";
  });
</script>
{% endblock %}