{% extends "__base3__.html" %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/order_list.css' %}">
<style>
  .processed-label {
    color: red;
    font-weight: bold;
    margin-left: 10px;
  }
  .process-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    cursor: pointer;
  }
  .process-button:hover {
    background-color: #45a049;
  }
</style>
{% endblock %}
{% block content %}
  <h1>
    Delivery # {{ delivery.number }} {{ delivery }}
    {% if delivery.processed %}
      <span class="processed-label">PROCESSED</span>
    {% else %}
      <form action="{% url 'process-delivery' delivery_id=delivery.id %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="process-button">Mark as Processed</button>
      </form>
    {% endif %}
  </h1>

  <table>
    <thead>
      <tr>
        <th>Number</th>
        <th>Provider</th>
        <th>Delivery</th>
        <th>Delivery date</th>
        <th>Order</th>
        <th>Customer</th>
        <th>Quantity</th>
        <th>Palettes quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ delivery.number }}</td>
        <td>{{ delivery.provider }}</td>
        <td>{{ delivery }}</td>
        <td>{{ delivery.date|date:"Y-m-d" }}</td>
        <td><a href="{% url 'order-detail-view' order_id=item.order.id %}">{{ item.order }}</a></td>
        <td>{{ item.order.customer }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.palettes_quantity }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="10">No deliveries available.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Pagination Controls -->
  <div class="pagination">
    {% if is_paginated %}
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    {% endif %}
  </div>
{% endblock %}
