{% extends "__base3__.html" %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/order_list.css' %}">
{% endblock %}
{% block content %}
  <div class="import-container">
    <h1>Import Data from PDF</h1>
    <p>Upload a PDF file to import WZ data.</p>
    <form method="post" enctype="multipart/form-data" class="import-form">
        {% csrf_token %}
        <label for="wz_file" class="file-label">
          Choose a file:
          <input type="file" name="wz_file" id="wz_file" accept=".pdf" onchange="updateFileName()">
        </label>
        <span id="file-name" class="file-name">No file chosen</span>
        <button type="submit" class="btn">Import</button>
    </form>
  </div>
{% endblock %}
{% block scripts %}
{% load static %}
<script src="{% static 'js/load_wz.js' %}"></script>
{% endblock %}
