{% extends "__base3__.html" %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/order_list.css' %}">
{% endblock %}
{% block content %}
  <h1>Wgraj cennik PDF</h1>
  {% if messages %}
    <ul>
      {% for m in messages %}
        <li class="{{ m.tags }}">{{ m }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
      {{ form.date_start.label_tag }} {{ form.date_start }}
    </div>
    <div>
      {{ form.date_end.label_tag }} {{ form.date_end }}
    </div>
    <div>
      {{ form.pdf_file.label_tag }} {{ form.pdf_file }}
    </div>
    <button type="submit">Zapisz cennik</button>
  </form>
{% endblock %}
{% block scripts %}
{% load static %}
{% endblock %}


