{% extends "__base3__.html" %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/order_list.css' %}">
{% endblock %}
{% block content %}
  <h1>{{ order }} // {{ order.customer }} // {{ order.product }}</h1>
  <h2>Deliveries</h2>
  <table>
    <thead>
      <tr>
        <th>Provider</th>
        <th>Delivery</th>
        <th>Delivery date</th>
        <th>Order</th>
        <th>Quantity</th>
        <th>Palettes quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ item.delivery.provider }}</td>
        <td><a href="{% url 'delivery-detail-view' delivery_id=item.delivery.id %}">{{ item.delivery.number }}</a></td>
        <td>{{ item.delivery.date|date:"Y-m-d" }}</td>
        <td><a href="{% url 'order-detail-view' order_id=item.order.id %}">{{ item.order }}</a></td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.palettes_quantity }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="10">No deliveries available.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- production -->
  <h2>Production</h2>
  <table>
    <thead>
      <tr>
        <th>Sequence</th>
        <th>Work station</th>
        <th>Start</th>
        <th>Finish</th>
        <th>Duration</th>
        <th>Quantity start</th>
        <th>Quantity end</th>
        <th>Workers</th>
      </tr>
    </thead>
    <tbody>
      {% for unit in production_units %}
      <tr>
        <td>{{ unit.sequence }}</td>
        <td>{{ unit.work_station }}</td>
        <td>{{ unit.start|date:"Y-m-d H:i:s" }}</td>
        <td>{{ unit.end|date:"Y-m-d H:i:s" }}</td>
        <td>{{ unit.duration_in_minutes }}</td>
        <td>{{ unit.quantity_start }}</td>
        <td>{{ unit.quantity_end }}</td>
        <td>{{ unit.persons.all|join:", " }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="10">No production units available.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Pagination Controls -->
  <div class="pagination">
    {% if is_paginated %}
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    {% endif %}
  </div>

{% endblock %}
