{% extends "__base3__.html" %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/order_list.css' %}">
{% endblock %}
{% block content %}
  <h1>Orders</h1>
  <form method="GET">
    <label for="status">Status:</label>
    <select name="status" id="status">
        <option value="">-- Wybierz status --</option>
        <option value="finished" {% if request.GET.status == "finished" %}selected{% endif %}>Finished</option>
        <option value="delivered" {% if request.GET.status == "delivered" %}selected{% endif %}>Delivered</option>
        <option value="in_progress" {% if request.GET.status == "in_progress" %}selected{% endif %}>In Progress</option>
    </select>

    <label for="customer">Customer:</label>
    <input type="text" name="customer" id="customer" value="{{ request.GET.customer }}">

    <button type="submit">Filtruj</button>
  </form>

  <table>
    <table>
  <thead>
    <tr>
      <th><a href="?sort=provider&dir={% if current_sort == 'provider' and current_dir == 'asc' %}desc{% else %}asc{% endif %}">Provider</a></th>
      <th><a href="?sort=order_id&dir={% if current_sort == 'order_id' and current_dir == 'asc' %}desc{% else %}asc{% endif %}">Order ID</a></th>
      <th><a href="?sort=name&dir={% if current_sort == 'name' and current_dir == 'asc' %}desc{% else %}asc{% endif %}">Name</a></th>
      <th><a href="?sort=customer&dir={% if current_sort == 'customer' and current_dir == 'asc' %}desc{% else %}asc{% endif %}">Customer</a></th>
      <th><a href="?sort=order_date&dir={% if current_sort == 'order_date' and current_dir == 'asc' %}desc{% else %}asc{% endif %}">Order Date</a></th>
      <th><a href="?sort=delivery_date&dir={% if current_sort == 'delivery_date' and current_dir == 'asc' %}desc{% else %}asc{% endif %}">Delivery Date</a></th>
      <th><a href="?sort=order_quantity&dir={% if current_sort == 'order_quantity' and current_dir == 'asc' %}desc{% else %}asc{% endif %}">Quantity</a></th>
      <th><a href="?sort=delivered_quantity&dir={% if current_sort == 'delivered_quantity' and current_dir == 'asc' %}desc{% else %}asc{% endif %}">Delivered Quantity</a></th>
      <th><a href="?sort=price&dir={% if current_sort == 'price' and current_dir == 'asc' %}desc{% else %}asc{% endif %}">Price</a></th>
      <th>Area</th>
      <th>Status</th>
    </tr>
  </thead>
    <tbody>
      {% for order in orders %}
      <tr>
        <td>{{ order.provider }}</td>
        <td><a href="{% url 'warehouse:order-detail-view' order_id=order.id %}">{{ order.order_id }}</a></td>
        <td>{{ order.name }}</td>
        <td>{{ order.customer }}</td>
        <td>{{ order.order_date|date:"Y-m-d" }}</td>
        <td>{{ order.delivery_date|date:"Y-m-d" }}</td>
        <td>{{ order.order_quantity }}</td>
        <td>{{ order.delivered_quantity }}</td>
        <td>{{ order.price }}</td>
        <td>{{ order.total_area }}</td>
        <td>
          {% if order.finished %}
            Finished
          {% elif order.delivered %}
            Delivered
          {% else %}
            In Progress
          {% endif %}
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="10">No orders available.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Pagination Controls -->
  <div class="pagination">
    {% if is_paginated %}
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    {% endif %}
  </div>

{% endblock %}
