{% extends "__base3__.html" %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/order_list.css' %}">
<link rel="stylesheet" href="{% static 'css/warehouse/order-settle-order.css' %}">
{% endblock %}
{% block content %}
<script>
  const settleOrderUrl = "{% url 'warehouse:settle_order' order.id %}";
  const availableMaterials = [
    {% for material in stock_materials %}
    { id: "{{ material.id }}", name: "{{ material.name }}", quantity: "{{ material.quantity }}" },
    {% endfor %}
  ];
</script>
  <h1>{{ order }} // {{ order.customer }} // {{ order.product }}</h1> <button id="settleOrderBtn">Settle Order</button>
  <h2>Deliveries</h2>
  <table>
    <thead>
      <tr>
        <th>Provider</th>
        <th>Delivery</th>
        <th>Delivery date</th>
        <th>Order</th>
        <th>Quantity</th>
        <th>Palettes quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ item.delivery.provider }}</td>
        <td><a href="{% url 'warehouse:delivery-detail-view' delivery_id=item.delivery.id %}">{{ item.delivery.number }}</a></td>
        <td>{{ item.delivery.date|date:"Y-m-d" }}</td>
        <td><a href="{% url 'warehouse:order-detail-view' order_id=item.order.id %}">{{ item.order }}</a></td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.palettes_quantity }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="10">No deliveries available.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- production -->
  <h2>Production</h2>
  <table>
    <thead>
      <tr>
        <th>Sequence</th>
        <th>Work station</th>
        <th>Start</th>
        <th>Finish</th>
        <th>Duration</th>
        <th>Quantity start</th>
        <th>Quantity end</th>
        <th>Workers</th>
      </tr>
    </thead>
    <tbody>
      {% for unit in production_units %}
      <tr>
        <td>{{ unit.sequence }}</td>
        <td>{{ unit.work_station }}</td>
        <td>{{ unit.start|date:"Y-m-d H:i:s" }}</td>
        <td>{{ unit.end|date:"Y-m-d H:i:s" }}</td>
        <td>{{ unit.duration_in_minutes }}</td>
        <td>{{ unit.quantity_start }}</td>
        <td>{{ unit.quantity_end }}</td>
        <td>{{ unit.persons.all|join:", " }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="10">No production units available.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Pagination Controls -->
  <div class="pagination">
    {% if is_paginated %}
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    {% endif %}
  </div>

<div id="settleOrderModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Settle Order: {{ order }}</h2>
    <form id="settleOrderForm" method="post">
      {% csrf_token %}

      <!-- Domyślny materiał -->
      <div id="default-material">
        <h3>Material from Delivery</h3>
        <div>
          <label for="material_name">Material:</label>
          <input type="text" name="material_name" value="Default Material" readonly>
          <br>
          <label for="material_quantity">Quantity:</label>
          <input type="number" name="material_quantity" value="10" required>
        </div>
      </div>

      <!-- Dodatkowe materiały -->
      <h3>Additional Materials</h3>
      <div id="additional-materials"></div>
      <button type="button" id="add-material-btn">Add Material</button>

      <br><br>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>


{% endblock %}
{% block scripts %}
<script src="{% static 'js/warehouse/order-settle-order.js' %}"></script>
{% endblock %}
