{% extends "__base3__.html" %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/order_list.css' %}">
<link rel="stylesheet" href="{% static 'css/warehouse/productsell.css' %}">
{% endblock %}

{% block content %}
<button id="addSellBtn">Add Sell</button>

<div id="addSellModal" class="modal">
  <div class="modal-content">
    <span class="close" id="closeModal">&times;</span>
    <h2>Dodaj sprzedaż produktu</h2>
    <form method="post" action="{% url 'warehouse:productsell3-create' %}">
  {% csrf_token %}

  <label>Towar:</label>
  <select name="warehouse_stock" required>
    {% for ws in warehouse_stocks %}
      <option value="{{ ws.id }}">{{ ws.stock.name }} — {{ ws.warehouse.name }} ({{ ws.quantity }})</option>
    {% endfor %}
  </select><br>

  <label>Ilość:</label>
  <input type="number" name="quantity" min="1" required><br>

  <label>Klient:</label>
  <select name="customer">
    {% for buyer in customers %}
      <option value="{{ buyer.id }}">{{ buyer.name }}</option>
    {% endfor %}
  </select><br>

  <label>Klient zastępczy:</label>
  <input type="text" name="customer_alter_name"><br>

  <label>Cena:</label>
  <input type="number" name="price" step="0.01" required><br>

  <label>Data:</label>
  <input type="date" name="date" required><br><br>

  <button type="submit">Zapisz</button>
</form>

  </div>
</div>
<h2>Lista sprzedaży produktów</h2>
<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Klient</th>
      <th>Produkt</th>
      <th>Magazyn</th>
      <th>Ilość</th>
      <th>Cena</th>
      <th>Wartość</th>
    </tr>
  </thead>
  <tbody>
    {% for sell in sells %}
    <tr>
      <td>{{ sell.date }}</td>
      <td>
        {% if not sell.customer_alter_name %}
          {{ sell.customer }}
        {% else %}
          {{ sell.customer_alter_name }}
        {% endif %}
      </td>
      <td>{{ sell.warehouse_stock.stock.name }}</td>
      <td>{{ sell.warehouse_stock.warehouse.name }}</td>
      <td>{{ sell.quantity }}</td>
      <td>{{ sell.price|floatformat:2 }} zł</td>
      <td>{{ sell.calculate_value|floatformat:2 }} zł</td>
    </tr>
    {% empty %}
    <tr><td colspan="7">Brak transakcji sprzedaży.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/warehouse/productsell.js' %}"></script>
{% endblock %}
