{% extends '__base2__.html' %}
{% block title %}ALL PRODUCTION{% endblock %}
{% block content %}
<div style="margin: 10px;">
    <a href="{% url 'production-order-add' %}">
        <button>ADD PRODUCTION ORDER</button>
    </a>
    <button id="showButton">ADD FROM FILE</button>
    <div id="hiddenDiv" style="display: none">
        <form id="myForm">
        <label for="value1">Wartość 1:</label>
        <input type="text" id="value1" name="value1"><br><br>
        <label for="value2">Wartość 2:</label>
        <input type="text" id="value2" name="value2"><br><br>
        <label for="value3">ROK:</label>
        <input type="text" id="value3" name="value3"><br><br>
        <button type="button" id="submitButton">Zatwierdź</button>
    </form>
    <div id="result" style="background: white"></div>
    </div>
</div>

<div style="color: red">
    SEARCH: <input type="text" id="search">
</div>

<div id="production-orders-buttons">
    <button class="production-order-btn">
        ALL
    </button>
    <button class="production-order-btn">
        UNCOMPLETED
    </button>
    <button class="production-order-btn">
        COMPLETED
    </button>
    <button class="production-order-btn">
        PLANNED
    </button>
    <button class="production-order-btn">
        FINISHED
    </button>
    <button class="production-order-btn">
        ORDERED
    </button>
    <button class="production-order-btn">
        ARCHIVED
    </button>
</div>

<div><h2 style="color: white; display: inline">Number of orders: </h2><h1 id="orders-num" style="color: darkgrey; display: inline">{{ number }}</h1></div>

<div class="color-list">
    {% for po in production_orders %}
    <a href="{% url 'production-details' production_order_id=po.id %}" class="no-decor black" >
        <div style="{% if po.status == 'FINISHED' %}display: none;{% elif po.status == 'ARCHIVED' %}display: none;  {% endif %}"
             data-orderstatus="{{ po.status }}"
             data-idnumber="{{ po.id_number }}"
             data-cardboard="{{ po.cardboard }}"
             data-cardboarddimensions="{{ po.cardboard_dimensions }}"
             data-customer="{{ po.customer }}"
             data-dimensions="{{ po.dimensions }}"
             data-quantity="{{ po.quantity }}"
             data-notes="{{ po.notes }}"
             class="production-order prod-item {% if po.status == 'PLANNED' %}bg-orange{% elif po.status == 'FINISHED' %}bg-green{% elif po.status == 'COMPLETED' %}bg-yellow{% elif po.status == 'ORDERED' %}bg-pink{% endif %}">
            <p>{{ po.id_number }}</p>
            <p>{{ po.customer }}</p>
            <p>{{ po.dimensions }}</p>
            <p>{{ po.cardboard }}</p>
            <p>{{ po.cardboard_dimensions }}</p>
            <h4 class="red">{{ po.status }}</h4>
            {% if po.status == 'PLANNED' %}
            <p>
                {{ po.planned_end }}
            </p>
            {% endif %}
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
{% block scripts %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/production-orders.js' %}"></script>
<script src="{% static 'js/add-more-orders.js' %}"></script>
{% endblock %}