{% extends '__base2__.html' %}
{% block title %}{{ worker }} Efficiency{% endblock %}
{% block content %}
<h1 class="white">WORKER EFFICIENCY</h1>
<a href="{% url 'worker-efficiency-pdf' worker_id=worker.id year=year month=month%}"><h6>print</h6></a>
<hr style="border: solid 2px pink">
<h2 class="white">{{ month_start }} - {{ month_end }}</h2>
<hr style="border: solid 2px pink">
<h2 class="white">{{ worker }}</h2>
<hr style="border: solid 2px pink">
<table class="bg-white center">
    <tr>
        <td>Days</td>
        <td>Hours</td>
        <td>Absences</td>
        <td>Pot</td>
    </tr>
    <tr>
        <td>
            {{ days_at_work }}/{{ working_days }}

        </td>
        <td>
            {{ work_hours }}
        </td>
        <td>

            {{ absences }}
        </td>
        <td>
            {{ pot }}
        </td>
    </tr>
</table>

<h2 class="white">Units</h2>
<h2 class="white">Efficiency:</h2>
<h1 class="red">{{ efficiency }}%</h1>
<table class="bg-white center">
    <tr>
        <th rowspan="2">
            Num
        </th>
        <th colspan="2">
            Date
        </th>
        <th rowspan="2">
            Station
        </th>
        <th rowspan="2">
            Order
        </th>
        <th rowspan="2">
            Quantity
        </th>
        <th rowspan="2">
            Coworkers
        </th>
        <th colspan="2">
            Time
        </th>
        <th rowspan="2">
            Efficiency
        </th>
    </tr>
    <tr>
        <th>
            Start
        </th>
        <th>
            End
        </th>
        <th>
            Estimated
        </th>
        <th>
            Real
        </th>
    </tr>
    {% for u in data %}
    <tr>
        <td>
            {{ forloop.counter }}
        </td>
        <td>
            {{ u.0.start|date:"d M Y, H:i:s" }}
        </td>
        <td>
            {{ u.0.end|date:"d M Y, H:i:s" }}
        </td>
        <td>
            {{ u.0.work_station }}
        </td>
        <td>
            {{ u.0.production_order }}
        </td>
        <td>
            {{ u.0.production_order.quantity }}
        </td>
        <td>
            {% for p in u.0.persons.all %}
                {% if p != worker %}
                    {{ p }}<br>
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {{ u.0.estimated_duration }}
        </td>
        <td>
            {{ u.0.unit_duration }}
        </td>
        <td>
            {{ u.1 }}%
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}